.header-section_container{
    // background: url("../assets/headerBg.jpg");
    // background-repeat: no-repeat;
    // background-size: 100% 100%;
    background: #023047;
    .header_container{
        padding: 38px 60px;
    
        .header{
            color: #fff;
    
            .logo_container{
                .logo{
                    width: 83px;
                    height: auto;
                }
    
                .logo-text_container{
                    margin-left: 14px;
                    font-family: 'Advent Pro', sans-serif;
                    .big-logo-text{
                        font-size: 4.8em;
                        font-weight: 600;
                    }
    
                    .small-logo-text{
                        font-size: 3.6em;
                        font-weight: 400;
                    }
                }
            }
    
            .navigation-links_container{
                list-style: none;
    
                .navigation-link{
                    font-size: 2.4em;
                    font-weight: 100!important;
                    color: #EEEEEE;
                    margin-right: 77px!important;
                    cursor: pointer;
                }
    
                .active-navigation{
                    font-weight: 500!important;
                    color: #ffffff;
                }
            }
        }
    }

    .header-section{
        margin: 100px 0 0 123px;
        
        .content_container{
            // width: 530px;
            color: #fff;

            .we-help_header{
                font-size: 6.4em;
                font-weight: 400;
            }

            .short-line{
                width: 75px;
                height: 7.5px;
                background: #689D55;
            }

            .we-help-para{
                font-size: 2.4em;
                font-weight: 400;
                color: #EEEEEE;
                margin-top: 80px;
            }

            .lets-talk-btn{
                border: none;
                outline: none;
                width: 250px;
                height: 60px;
                background: #689D55;
                color: #fff;
                font-size: 2.4em;
                cursor: pointer;
                margin-top: 80px;
            }
        }
    }
}

// media queries

@media (max-width: 1367px){
    .header-section_container{
        .header_container{
            padding: 38px 60px;
        
            .header{
        
                .logo_container{
                    .logo{
                        width: 50px;
                    }
        
                    .logo-text_container{
                        margin-left: 14px;
                        .big-logo-text{
                            font-size: 3.6em;
                        }
        
                        .small-logo-text{
                            font-size: 2.6em;
                        }
                    }
                }
        
                .navigation-links_container{
        
                    .navigation-link{
                        font-size: 1.6em;
                    }
                }
            }
        }

        .header-section{
            margin: 60px 0 0 100px;
            
            .content_container{
                // width: 530px;
    
                .we-help_header{
                    font-size: 4.6em;
                }
    
                .we-help-para{
                    font-size: 1.8em;
                    margin-top: 60px;
                }
    
                .lets-talk-btn{
                    border: none;
                    outline: none;
                    width: 200px;
                    height: 50px;
                    background: #689D55;
                    color: #fff;
                    font-size: 2em;
                    cursor: pointer;
                    margin-top: 80px;
                }
            }
        }
    }
}

@media (max-width: 1025px){
    .header-section_container{
        // background: url("../assets/headerBg.jpg");
        // background-repeat: no-repeat;
        // background-size: 100% 100%;
        background: #023047;
        .header_container{
            padding: 10px 0;
        
            .header{
                position: relative;
                padding: 0 10px;
                justify-content: flex-start!important;

                .toggler{
                    width: 40px;
                }
        
                .logo_container{
                    margin-left: 20px;
                    .logo{
                        width: 40px;
                        height: auto;
                    }
        
                    .logo-text_container{
                        margin-left: 14px;
                        .big-logo-text{
                            font-size: 2.6em;
                            font-weight: 600;
                        }
        
                        .small-logo-text{
                            font-size: 1.6em;
                            font-weight: 400;
                        }
                    }
                }
        
                .navigation-links_container{
                    position: absolute;
                    width: 100%;
                    top: 100%;
                    left: 0;
                    background: #023047;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    z-index: 10;
                    // padding: 30px 0;
                    overflow: hidden;
        
                    .navigation-link{
                        font-size: 2.4em;
                        font-weight: 100!important;
                        color: #EEEEEE;
                        margin: 10px 0!important;
                        cursor: pointer;
                    }
        
                    .active-navigation{
                        font-weight: 500!important;
                        color: #ffffff;
                    }

                }
                .closed{
                    height: 0;
                    transition: .5s;
                }

                .opened{
                    height: 40vh!important;
                    transition: .5s;
                }
            }
        }
    
        .header-section{
            margin: 0;
            
            .content_container{
                // width: 530px;
                color: #fff;
    
                .we-help_header{
                    font-size: 3.6em;
                    font-weight: 400;
                    padding-right: 50px;
                }
    
                .short-line{
                    width: 75px;
                    height: 7.5px;
                    background: #689D55;
                }
    
                .we-help-para{
                    font-size: 1.4em;
                    margin-top: 20px;
                }
    
                .lets-talk-btn{
                    width: 45%;
                    height: 40px;
                    font-size: 1.6em;
                    margin-top: 40px;
                }
            }
        }
    }   
}
