.header-section_container {
  // background: url("../assets/headerBg.jpg");
  background: #023047;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .header_container {
    padding: 38px 60px;

    .header {
      color: #fff;

      .logo_container {
        .logo {
          width: 83px;
          height: auto;
        }

        .logo-text_container {
          margin-left: 14px;
          font-family: "Advent Pro", sans-serif;
          .big-logo-text {
            font-size: 4.8em;
            font-weight: 600;
          }

          .small-logo-text {
            font-size: 3.6em;
            font-weight: 400;
          }
        }
      }

      .navigation-links_container {
        list-style: none;

        .navigation-link {
          font-size: 2.4em;
          font-weight: 100 !important;
          color: #eeeeee;
          margin-right: 77px !important;
          cursor: pointer;

          a {
            color: #fff;
            text-decoration: none;
          }
        }

        .active-navigation {
          font-weight: 500 !important;
          color: #ffffff;
        }
      }
    }
  }

  .header-section {
    padding: 12.3em 0 0 5%;
    flex-grow: 5;
    height: 100%;
    background: url("../assets/headerBg.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;

    .content_container {
      // width: 530px;
      color: #fff;
      height: 100%;
      // padding-top: 10em;
      // padding-bottom: 10em;

      div {
        display: flex;
        flex-direction: column;
      }

      & > div:nth-child(2) {
        display: none;
      }

      .we-help_header {
        font-size: 5em;
        font-weight: 400;
      }

      .short-line {
        width: 75px;
        height: 7.5px;
        background: #689d55;
        margin: 5% 0;
      }

      .we-help-para {
        font-size: 2.4em;
        font-weight: 400;
        color: #eeeeee;
        // margin-top: 80px;
      }

      .lets-talk-btn {
        text-decoration: none;
        border: none;
        outline: none;
        width: 250px;
        height: 2.5em;
        background: #689d55;
        color: #fff;
        font-size: 2.4em;
        cursor: pointer;
        margin-top: 1em;
        // margin-bottom: 2em;
        // margin-top: auto;
      }
    }
  }
}

// media queries

@media (max-width: 1367px) {
  .header-section_container {
    .header_container {
      padding: 38px 60px;

      .header {
        .logo_container {
          .logo {
            width: 50px;
          }

          .logo-text_container {
            margin-left: 14px;
            .big-logo-text {
              font-size: 3.6em;
            }

            .small-logo-text {
              font-size: 2.6em;
            }
          }
        }

        .navigation-links_container {
          .navigation-link {
            font-size: 1.6em;
          }
        }
      }
    }

    .header-section {
      padding: 60px 0 0 100px;

      & > div:nth-child(2) {
        display: none;
      }

      .content_container {
        // width: 530px;
        height: 100%;

        .we-help_header {
          font-size: 4.6em;
        }

        .we-help-para {
          font-size: 1.8em;
          // margin-top: 60px;
        }

        .lets-talk-btn {
          border: none;
          outline: none;
          width: 200px;
          height: 50px;
          background: #689d55;
          color: #fff;
          font-size: 2em;
          cursor: pointer;
          // margin-top: 80px;
        }
      }
    }
  }
}

@media (max-width: 1025px) {
  .header-section_container {
    // background: url("../assets/headerBg.jpg");
    // background-repeat: no-repeat;
    // background-size: 100% 100%;
    background-image: none;
    background: #023047;
    .header_container {
      padding: 10px 0;

      .header {
        position: relative;
        padding: 0 10px;
        justify-content: flex-start !important;

        .toggler {
          width: 40px;
          margin-left: auto;
        }

        .logo_container {
          // margin-left: 20px;
          .logo {
            width: 40px;
            height: auto;
          }

          .logo-text_container {
            margin-left: 14px;
            .big-logo-text {
              font-size: 2.6em;
              font-weight: 600;
            }

            .small-logo-text {
              font-size: 1.6em;
              font-weight: 400;
            }
          }
        }

        .navigation-links_container {
          position: absolute;
          width: 100%;
          top: 100%;
          left: 0;
          background: #023047;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          z-index: 10;
          // padding: 30px 0;
          overflow: hidden;

          .navigation-link {
            font-size: 2.4em;
            font-weight: 100 !important;
            color: #eeeeee;
            margin: 10px 0 !important;
            cursor: pointer;
          }

          .active-navigation {
            font-weight: 500 !important;
            color: #ffffff;
          }
        }
        .closed {
          height: 0;
          transition: 0.5s;
        }

        .opened {
          height: 40vh !important;
          transition: 0.5s;
        }
      }
    }

    .header-section {
      margin: 0;
      padding: 0;
      background-position: bottom right -6em;
      background-size: 175%;

      & > div:nth-child(2) {
        display: none;
      }

      .content_container {
        // width: 530px;
        color: #fff;
        padding-top: 5em;

        .we-help_header {
          font-size: 3.6em;
          font-weight: 400;
          padding-right: 50px;
        }

        .short-line {
          width: 75px;
          height: 7.5px;
          background: #689d55;
          margin: 2em 0;
        }

        .we-help-para {
          font-size: 1.4em;
          // margin-top: 20px;
        }

        .lets-talk-btn {
          width: 45%;
          height: 40px;
          font-size: 1.6em;
          // margin-top: 40px;
        }
      }
    }
  }
}
