* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.full-section {
  width: 100%;
  // min-height: 100vh;
}

.full-img {
  width: 100%;
  height: 100%;
}

.full-img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rotate-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(5deg);
}

.rotate-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(-5deg);
}

.big-line {
  width: 100%;
  height: 1px;
  background: #dddddd;
  margin: 20px 0;
}
